<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Tables</h1>
    <p class="mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, esse.</p>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0" #dataTable>
                    <thead>
                        <tr>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Position</th>
                            <th>Team</th>
                            <th>City</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr *ngFor="let item of data">
                            <td>{{item.first_name}}</td>
                            <td>{{item.last_name}}</td>
                            <td>{{item.position}}</td>
                            <td>{{item.team.full_name}}</td>
                            <td>{{item.team.city}}</td>
                        </tr>

                    </tbody>
                    <tfoot>
                        <tr>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Position</th>
                            <th>Team</th>
                            <th>City</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>